@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.border-base {
  border-color: #11703b !important;
}

.btn-base {
  color: #fff;
  background-color: #11703b;
  border-color: #11703b;
}

.btn-base:hover {
  color: #fff;
  background-color: #00be15;
  border-color: #00be15;
}

.text-base {
  color: #11703b;
}

.bg-base {
  background: #11703b;
}

.bg-light-gray {
  background: rgba(236, 239, 241, 0.38);
}

.bg-light-green {
  background: #81d742;
  color: #fff;
}

.bg-light-blue {
  background: #3882cc;
  color: #fff;
}

.bg-light-yellow {
  background: #eaac65;
  color: #fff;
}

.opacity-25 {
  opacity: 0.251 !important;
}

.opacity-50 {
  opacity: 0.5 !important;
}

.opacity-100 {
  opacity: 1 !important;
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-26 {
  font-size: 26px;
}

.fs-28 {
  font-size: 28px;
}

.fs-30 {
  font-size: 30px;
}

.fs-32 {
  font-size: 32px;
}

.fs-34 {
  font-size: 34px;
}

.fs-36 {
  font-size: 36px;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.height-30 {
  height: 30px;
}

.height-40 {
  height: 40px;
}

.height-50 {
  height: 50px;
}

.height-60 {
  height: 60px;
}

.height-70 {
  height: 70px;
}

.height-80 {
  height: 80px;
}

.height-100 {
  height: 100px;
}

.height-150 {
  height: 150px;
}

.height-full {
  height: 100% !important;
}

.bx {
  line-height: unset;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0rem;
}

ul li {
  list-style: none;
}

.file-input-btn {
  background: #fff;
  border: 1px solid #ced4da;
  height: 2.78rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12px;
}

.file-input-btn i {
  margin-right: 0.6rem;
  font-size: 22px;
  color: #11703b;
}

.file-input-btn input {
  display: none;
}

table.dataTable td,
table.dataTable th {
  vertical-align: middle;
}

.btn-group > .btn-secondary {
  color: #fff;
  background-color: #11703b;
  border-color: #11703b;
}

.page-link {
  color: #11703b;
}

.page-link:hover {
  color: #11703b;
}

.page-link:focus {
  color: #11703b;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.page-item.active .page-link {
  background-color: #11703b;
  border-color: #11703b;
  -webkit-box-shadow: 0px 5px 5px #808080b0;
          box-shadow: 0px 5px 5px #808080b0;
  border-radius: 4px;
  margin: 0 5px;
}

/**
 * @todo From style for radio button
 * @date 16 Oct 2021 
 */
.radio-lable {
  border-top: 1px solid #198754;
  margin: 2px 5px 0;
  position: relative;
}

.radio-lable .g-label {
  position: absolute;
  top: -12px;
  left: 10px;
  font-weight: 500;
  color: #198754;
  background: white;
  padding: 0 3px;
}

.radio-lable .check {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0.5rem 0;
}

.radio-lable .check .form-check-input:checked {
  background-color: #11703b;
  border-color: #11703b;
}

.radio-lable .check .form-check-input:focus {
  border-color: #11703b;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(46, 122, 2, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(46, 122, 2, 0.25);
}

@media only screen and (max-width: 768.98px) {
  .radio-lable {
    margin: 2px 5px 14px;
  }
}

/**
 * @todo Bootstrap form
 * @date 15 Oct 2021 
 */
.form-floating-md > .form-select {
  padding-top: 1rem;
  padding-bottom: 0rem;
}

.form-floating-md > .form-control,
.form-floating-md > .form-select {
  height: calc(2.7rem + 2px);
  margin-bottom: 1.1rem;
  background: transparent;
}

.form-floating-md > .form-control:focus,
.form-floating-md > .form-select:focus {
  color: #212529;
  background-color: transparent;
  border-color: #11703b !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.03rem #11703b !important;
          box-shadow: 0 0 0 0.03rem #11703b !important;
}

.form-floating-md > .form-control:focus,
.form-floating-md > .form-control:not(:placeholder-shown) {
  padding-top: 1.5rem;
}

.form-floating-md > label {
  padding: 0.63rem 0.75rem;
}

.header {
  background: #fff;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 11;
  top: 0px;
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
}

.header-nav {
  height: 58px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0px 30px;
  margin-bottom: 0;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

@-webkit-keyframes bottomUp {
  from {
    bottom: -80px;
  }
  to {
    bottom: 0px;
  }
}

@keyframes bottomUp {
  from {
    bottom: -80px;
  }
  to {
    bottom: 0px;
  }
}

#language,
#currency,
#country,
#country-2,
#language-ls,
#currency-ls {
  margin-right: 4px;
}

#language .dd-select,
#currency .dd-select,
#country .dd-select,
#country-2 .dd-select,
#language-ls .dd-select,
#currency-ls .dd-select {
  width: 100% !important;
  border: none;
  background: #fff !important;
  padding: 2px 0;
}

#language .dd-select .dd-selected,
#currency .dd-select .dd-selected,
#country .dd-select .dd-selected,
#country-2 .dd-select .dd-selected,
#language-ls .dd-select .dd-selected,
#currency-ls .dd-select .dd-selected {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
}

#language .dd-select .dd-selected .dd-selected-image,
#currency .dd-select .dd-selected .dd-selected-image,
#country .dd-select .dd-selected .dd-selected-image,
#country-2 .dd-select .dd-selected .dd-selected-image,
#language-ls .dd-select .dd-selected .dd-selected-image,
#currency-ls .dd-select .dd-selected .dd-selected-image {
  width: 18px;
}

#language .dd-select .dd-selected .dd-selected-text,
#currency .dd-select .dd-selected .dd-selected-text,
#country .dd-select .dd-selected .dd-selected-text,
#country-2 .dd-select .dd-selected .dd-selected-text,
#language-ls .dd-select .dd-selected .dd-selected-text,
#currency-ls .dd-select .dd-selected .dd-selected-text {
  font-size: 14px;
  color: #000;
  line-height: 22px !important;
}

#language .dd-options,
#currency .dd-options,
#country .dd-options,
#country-2 .dd-options,
#language-ls .dd-options,
#currency-ls .dd-options {
  width: 114% !important;
  margin-left: -14px;
  border: none;
  -webkit-box-shadow: 1px 3px 16px 4px #b7c0d36e;
          box-shadow: 1px 3px 16px 4px #b7c0d36e;
  border-radius: 0.25rem;
}

#language .dd-options li,
#currency .dd-options li,
#country .dd-options li,
#country-2 .dd-options li,
#language-ls .dd-options li,
#currency-ls .dd-options li {
  margin-right: 0px;
}

#language .dd-options li .dd-option,
#currency .dd-options li .dd-option,
#country .dd-options li .dd-option,
#country-2 .dd-options li .dd-option,
#language-ls .dd-options li .dd-option,
#currency-ls .dd-options li .dd-option {
  padding: 8px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px !important;
  border: none;
}

#language .dd-options li .dd-option img,
#currency .dd-options li .dd-option img,
#country .dd-options li .dd-option img,
#country-2 .dd-options li .dd-option img,
#language-ls .dd-options li .dd-option img,
#currency-ls .dd-options li .dd-option img {
  width: 20px;
  margin-right: 8px;
}

#language .dd-options li .dd-option .dd-option-text,
#currency .dd-options li .dd-option .dd-option-text,
#country .dd-options li .dd-option .dd-option-text,
#country-2 .dd-options li .dd-option .dd-option-text,
#language-ls .dd-options li .dd-option .dd-option-text,
#currency-ls .dd-options li .dd-option .dd-option-text {
  font-size: 14px;
  padding-right: 5px;
  line-height: 22px !important;
}

#language .dd-pointer,
#currency .dd-pointer,
#country .dd-pointer,
#country-2 .dd-pointer,
#language-ls .dd-pointer,
#currency-ls .dd-pointer {
  right: 0px;
}

.login-btn {
  padding: 0.3rem 0.55rem;
  outline: none;
  border: none;
  font-size: 1rem;
  height: 36px;
  font-weight: 400 !important;
  border-radius: 4px;
  background: #1e242e;
  margin: 0 !important;
  color: #e2e2e2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.login-btn:hover {
  color: white !important;
  background: #000000;
}

.login-btn i {
  font-size: 0.8rem;
  font-weight: 600;
  background-color: white;
  padding: 0px 3px;
  margin-right: 0.6rem;
  border-radius: 50%;
  color: #1e242e;
}

.nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.message {
  position: relative;
  font-size: 36px;
  height: 55px;
}

.notify-count {
  position: absolute;
  top: -6px;
  right: -8px;
  font-size: 12px;
  background: blue;
  color: #fff;
  font-weight: 500;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  text-align: center;
}

.dropdown-menu {
  min-width: 0rem;
  border: none;
  -webkit-box-shadow: 1px 3px 16px 4px #b7c0d37e;
          box-shadow: 1px 3px 16px 4px #b7c0d37e;
  -webkit-animation: growDown 500ms ease-in-out forwards;
          animation: growDown 500ms ease-in-out forwards;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

@-webkit-keyframes growDown {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  80% {
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes growDown {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  80% {
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

.header-navbar-rht .nav-item {
  margin: 0 0.8rem;
}

.header-navbar-rht .nav-item a:hover {
  color: #11703b;
}

.header-navbar-rht .nav-item:last-child {
  margin-right: 0;
}

.header-navbar-rht .dropdown-toggle:after {
  display: none;
}

.menu-currency {
  display: none;
}

.menu-currency .dropdown-toggle:after {
  display: none;
}

@media only screen and (max-width: 768.98px) {
  .header-navbar-rht {
    display: none;
  }
  .menu-currency {
    display: block;
  }
}

/**
 * @todo Services Widget
 * @date 31 dec 2021 
 */
.popup-btn {
  position: relative;
  border: none;
  background: #fff;
  color: #616161;
  font-size: 30px;
}

.popup-btn:hover {
  color: #11703b;
}

.service-widget {
  position: absolute;
  top: 4px;
  right: -90px;
  width: 300px;
  height: auto;
  background-color: #fff;
  border-radius: 6px;
  padding: 1.5rem;
  z-index: 99999;
}

.service-widget .service {
  padding: 0.5rem;
  border-radius: 5px;
}

.service-widget .service a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service-widget .service a img {
  width: 48px;
  height: 50px;
  padding: 5px;
}

.service-widget .service a h5 {
  font-size: 0.9rem;
  margin-bottom: 0;
  font-weight: 400;
  color: #000000cc;
}

.service-widget .service:hover {
  background: rgba(172, 186, 250, 0.219);
}

.service-widget::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: -14px;
  right: 58px;
  width: 26px;
  height: 20px;
  background: #fff;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.dropdown-item {
  white-space: initial !important;
}

.dropdown-item:active {
  background-color: #e5f1f0;
}

.notifications-widget {
  position: absolute;
  top: 4px;
  right: -90px;
  width: 340px;
  height: auto;
  background-color: #fff;
  border-radius: 6px;
  z-index: 99999;
}

.notifications-widget .notification-heading {
  padding: 1rem 1rem;
}

.notifications-widget .notification-heading h4 {
  color: black;
  margin: 0;
}

.notifications-widget .notification-footer {
  text-align: center;
  font-size: 15px;
  padding: 8px;
}

.notifications-widget .notifications {
  max-height: 340px;
  overflow-y: scroll;
}

.notifications-widget .notifications::-webkit-scrollbar {
  width: 8px;
}

.notifications-widget .notifications::-webkit-scrollbar-track {
  background-color: transparent;
}

.notifications-widget .notifications::-webkit-scrollbar-thumb {
  border: 2px solid #fff;
  border-radius: 6px;
  background-clip: content-box;
  background-color: #afafaf;
}

.notifications-widget .notifications .notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notifications-widget .notifications .notification i {
  font-size: 24px;
  margin: 0 0.5rem;
}

.notifications-widget .notifications .notification img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin: 0 0.2rem;
}

.notifications-widget .notifications .notification .notice {
  padding: 0 1rem;
}

.notifications-widget .notifications .notification .notice p {
  line-height: 18px;
  color: #000 !important;
  margin-top: 8px;
  margin-bottom: 5px;
}

.notifications-widget .notifications .notification .notice span {
  color: #fcc13f;
  font-size: 13px;
}

.notifications-widget::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: -14px;
  right: 58px;
  width: 26px;
  height: 20px;
  background: #fff;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.language-currency-btn {
  padding: 0.37rem 0.75rem;
  outline: none;
  border: none;
  height: 36px;
  font-size: 0.8rem;
  font-weight: 500 !important;
  border-radius: 4px;
  background: #ffffff;
  margin: 0 !important;
  color: #666666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 1px 4px 0 #7e7e7e;
          box-shadow: 0 1px 4px 0 #7e7e7e;
}

.language-currency-btn:hover {
  color: black;
}

.language-currency-btn img {
  margin: 0 5px;
  width: 22px;
  height: 14px;
}

.language-currency-widget {
  position: absolute;
  top: 10px;
  left: -55px;
  width: 300px;
  height: auto;
  background-color: #fff;
  border-radius: 6px;
  padding: 1rem;
  z-index: 99999;
  cursor: pointer;
}

.language-currency-widget .service {
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 700;
  color: #000;
  height: 36px;
  padding: 8px 15px;
  margin-bottom: 12px;
  position: relative;
}

.language-currency-widget .service #language,
.language-currency-widget .service #currency,
.language-currency-widget .service #country {
  width: 100% !important;
}

.language-currency-widget .service #language .dd-select .dd-selected,
.language-currency-widget .service #currency .dd-select .dd-selected,
.language-currency-widget .service #country .dd-select .dd-selected {
  height: 32px !important;
}

.language-currency-widget .service #language .dd-select .dd-selected .dd-selected-image,
.language-currency-widget .service #currency .dd-select .dd-selected .dd-selected-image,
.language-currency-widget .service #country .dd-select .dd-selected .dd-selected-image {
  width: 20px;
  height: 16px;
  margin-right: 8px;
}

.language-currency-widget .service #language .dd-select .dd-selected .dd-selected-text,
.language-currency-widget .service #currency .dd-select .dd-selected .dd-selected-text,
.language-currency-widget .service #country .dd-select .dd-selected .dd-selected-text {
  font-size: 16px;
  color: #000;
}

.language-currency-widget::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -13px;
  right: 148px;
  width: 26px;
  height: 20px;
  background: #fff;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.language-currency-widget .form-check-input:checked {
  background-color: #11703b;
  border-color: #11703b;
}

.language-currency-widget .form-check-input:focus {
  border-color: #11703b;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(46, 122, 2, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(46, 122, 2, 0.25);
}

.show-widget {
  display: block;
}

.profile-btn img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.menu-widget {
  position: absolute;
  top: 10px;
  right: -40px;
  width: 200px;
  height: auto;
  background-color: #fff;
  border-radius: 6px;
  z-index: 99999;
}

.menu-widget .menu-list {
  margin: 0.5rem 0;
}

.menu-widget .menu-list li a {
  font-size: 1.1rem;
  padding: 0.25rem 1rem 0.25rem 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-widget .menu-list li a .notify {
  position: absolute;
  top: 32px;
  right: 95%;
}

.menu-widget .menu-list li a i {
  padding-right: 8px;
}

.menu-widget .menu-list li:last-child a {
  color: #ff0000;
}

.menu-widget::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: -13px;
  right: 9px;
  width: 24px;
  height: 20px;
  background: #fff;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

@media only screen and (max-width: 768.98px) {
  .language-currency-btn {
    padding: 0.45rem 0.5rem;
  }
  .language-currency-widget {
    left: -182px;
    padding: 0.7rem;
  }
  .language-currency-widget::before {
    right: 18px;
  }
  .service-widget {
    top: -230px;
    right: -130px;
    width: 260px;
    padding: 1rem;
  }
  .service-widget .service {
    padding: 0.5rem;
    border-radius: 5px;
  }
  .service-widget .service a img {
    width: 40px;
    height: 45px;
    padding: 5px;
  }
  .service-widget .service a h5 {
    font-size: 0.9rem;
  }
  .service-widget .service:hover {
    background: rgba(172, 186, 250, 0.219);
  }
  .service-widget::before {
    content: "";
    position: absolute;
    bottom: -13px;
    top: unset;
    right: 105px;
    width: 20px;
    height: 16px;
    background: white;
    -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
            clip-path: polygon(50% 100%, 0 0, 100% 0);
  }
  .menu-widget {
    top: -255px;
    right: -42px;
    width: 190px;
  }
  .menu-widget .menu-list {
    margin: 0.5rem 0;
  }
  .menu-widget .menu-list li a {
    font-size: 1rem;
    padding: 0.25rem 1rem 0.25rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-widget::before {
    content: "";
    position: absolute;
    bottom: -13px;
    top: unset;
    right: 16px;
    width: 20px;
    height: 16px;
    background: white;
    -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
            clip-path: polygon(50% 100%, 0 0, 100% 0);
  }
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 256px auto;
      grid-template-columns: 256px auto;
  min-height: 100vh;
}

.content .sidebar-menu-list::-webkit-scrollbar {
  width: 6px;
}

.content .sidebar-menu-list::-webkit-scrollbar-track {
  background-color: rgba(169, 169, 169, 0);
  border-radius: 100px;
}

.content .sidebar-menu-list::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(177, 177, 177, 0.945);
          box-shadow: inset 0 0 6px rgba(177, 177, 177, 0.945);
  border-radius: 100px;
}

.content .sidebar {
  background-attachment: fixed;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #11703b;
  background-image: url("../images/nav_nachos@2x.png");
  background-position: left 0 bottom 0;
  background-repeat: no-repeat;
  background-size: 256px 556px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  overflow: hidden;
  -webkit-transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  width: 256px;
  z-index: 12;
}

.content .sidebar .s-header {
  height: 58px;
  border-bottom: 1px solid #ffffff1a;
  font-weight: 500;
}

.content .sidebar .sidebar-home {
  color: rgba(255, 255, 255, 0.8);
  padding: 14px 24px;
  background-color: transparent;
  border-bottom: 1px solid #ffffff1a;
  height: 52px;
}

.content .sidebar .group-list-btn {
  width: 100%;
  margin: 0;
  font-weight: 500;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.959);
  font-size: 15px;
  text-align: start;
  outline: none;
  background: transparent;
  border: none !important;
  padding: 20px 24px;
}

.content .sidebar .group-list-btn:focus {
  z-index: 3;
  border-color: transparent;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.content .sidebar .sidebar-items {
  background-color: transparent;
  border-bottom: 1px solid #ffffff1a;
  cursor: pointer;
  display: block;
  letter-spacing: 0.25px;
  max-width: 100%;
  position: relative;
  text-align: left;
  -webkit-transition: background-color 0.15s ease;
  transition: background-color 0.15s ease;
}

.content .sidebar .sidebar-items:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.content .sidebar .sidebar-items .accordion-item {
  background-color: transparent;
  border: none;
}

.content .sidebar .sidebar-items .accordion-item .accordion-button:not(.collapsed)::after {
  background-image: url("../images/up-arrow.svg");
}

.content .sidebar .sidebar-items .accordion-item .accordion-button::after {
  background-image: url();
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.content .sidebar .sidebar-items .accordion-collapse {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border: none !important;
}

.content .sidebar .sidebar-items .group-list-items {
  color: rgba(255, 255, 255, 0.959);
  padding: 0;
}

.content .sidebar .sidebar-items .group-list-items li {
  list-style: none;
  padding: 4px 0px;
  width: 100%;
}

.content .sidebar .sidebar-items .group-list-items li:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.content .sidebar .sidebar-items .group-list-items li a {
  padding: 4px 24px;
  color: rgba(255, 255, 255, 0.8);
  width: 100%;
  border: none;
}

.content .sidebar .sidebar-items .group-list-items li a:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.content .sidebar .sidebar-items .btn-sub-list {
  font-size: 12px;
  padding-top: 3px;
  color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.content .sidebar .sidebar-menu {
  height: calc(100vh - 58px);
}

.content .sidebar .sidebar-menu .sidebar-footer {
  border-top: 1px solid #ffffff1a;
  height: 56px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .sidebar .sidebar-menu .sidebar-footer a {
  padding: 11px 24px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .sidebar .sidebar-menu .sidebar-footer a:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.content .sidebar .sidebar-menu .sidebar-menu-list {
  overflow-y: scroll;
}

.dashboard-bg {
  background: url(../images/Asset_2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 460px;
  position: fixed;
  top: 0px;
  z-index: -1;
}

.user-info {
  height: 280px;
  padding: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-info .user-img img {
  width: 120px;
  height: 120px;
}

.user-info .info {
  color: #fff;
  line-height: 1.2;
}

.user-info .info p {
  margin: 0;
}

.user-info .info p i {
  color: #1aff1a;
  font-size: 11px;
}

.mat-card {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  border-radius: 8px;
  padding: 20px;
  background: #fff;
}

.mat-card hr:not([size]) {
  height: 2px;
}

.booking-info-list ul li {
  list-style: none;
  position: relative;
}

.booking-info-list ul li:after {
  content: "|";
  color: #11703b;
  position: absolute;
  left: -14px;
  top: 4px;
  font-size: 24px;
}

.booking-info-list ul li:first-child:after {
  content: "";
}

.password-hidden {
  border: none;
  outline: none;
  background: transparent;
  position: absolute;
  top: 12px;
  right: 12px;
}

.invoice-heading-info tr {
  line-height: 1.4;
}

.invoice-heading-info tr td:last-child {
  padding-left: 1.5rem;
}

.invoice-heading-rignt {
  text-align: end;
}

.holiday-booking-detials .nav {
  width: 250px;
}

.holiday-booking-detials .nav .nav-link {
  border-radius: 0rem;
  width: 100%;
  text-align: start;
  color: #444444;
}

.holiday-booking-detials .nav .nav-link .btn-icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  height: 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4px;
  width: 36px;
}

.holiday-booking-detials .nav .nav-link.active {
  background-color: #11703c41;
  color: #11703b;
}

.holiday-booking-detials .nav .nav-link.active .btn-icon {
  border: 1px solid #11703b;
  color: #11703b;
}

.holiday-booking-detials .tab-content {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */